.container {
    width: 100%;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin: auto;

    &--hsg {
        color: $color-primary;
    }
}

img {
    object-fit: cover;
}