.tags {
    display: flex;
    
    &__element {
        height: 25px;
        border-radius: 10px;
        background-color: $color-primary;
        font-size: 14px;
        color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        margin-right: 10px;

        @include mob {
            font-size: 10px;
        }
    }
}